@import './src/styles/abstracts/variables';
@import './src/styles/abstracts/mixing';

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  background-color: $color-white;
  &-container {
    //width: 90%;
    margin: auto;
    overflow: hidden;
    //box-shadow: 0 .2rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    max-width: 120rem;
    display: flex;

  }

  &-sidebar {
    &-month {
      font-size: 2rem;
      padding: 2rem 3rem;
    }
  }

  &-header {
    text-align: center;
    padding: 2rem 0;
    background: linear-gradient(to bottom, $color-primary 0%, rgba($color-primary-dark, 0.8) 100%);

    &-month {
      cursor: pointer;
    }
    &-year {
      cursor: pointer;
    }

    h1 {
      margin: 0;
      font-size: 1.8rem;
      color: $color-white;
    }

    p {
      margin: .5rem 0 0 0;
      font-size: 1.3rem;
      font-weight: 600;
      color: rgba($color-white, .8);
    }

    button {
      background: 0;
      border: 0;
      padding: 0;
      color: rgba($color-white, .7);
      cursor: pointer;
      outline: 0;
    }
  }

  &-week {
    display: flex;
    justify-content: center;
  }
}


.day {
  border-bottom: 1px solid rgba($color-primary-dark, 0.12);
  border-right: 1px solid rgba($color-primary-dark, 0.12);
  text-align: right;
  padding: 1.4rem 2rem;
  letter-spacing: 1px;
  background-color: $color-white;
  font-size: 1.8rem;
  box-sizing: border-box;
  color: $color-primary-dark;
  width: calc(100% / 7 - 6px);
  display: inline-flex;
  flex-direction: column;
  //justify-content: space-between;
  height: 14rem;
  margin: .2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;

  @include respond(tab-port){
    line-height: 1.2;
  }
  @include respond(phone){
    padding: .8rem .5rem;
    margin: 0;
    box-shadow: none;
    width: calc(100% / 7);
  }

  &:hover {
    box-shadow: $btn-hover-shadow;
    transform: scale(1.1);
    z-index: 3;
  }

  &:nth-of-type(7n + 7) {
    border-right: 0;
  }

  &-name {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: $color-primary-dark;
    text-align: center;
    border-bottom: 1px solid rgba($color-primary-dark, 0.12);
    line-height: 5rem;
    font-weight: 700;
    width: calc(100% / 7);
  }

  &--disabled {
    color: rgba(#98a0a6, 0.6);
    background-color: $color-grey-light;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed;
  }

  &--selected {
    background-color: $color-secondary;
  }

  &.day--today {
    border: .4rem solid $color-primary;
  }
}

.task {
  border-left-width: 3px;
  padding: .8rem 1.2rem;
  margin: 1.0rem;
  border-left-style: solid;
  font-size: 1.4rem;
  position: relative;

  &--warning {
    border-left-color: #fdb44d;
    grid-column: 4 / span 3;
    grid-row: 3;
    background: #fef0db;
    align-self: center;
    color: darken(#fdb44d, 12%);
    margin-top: -.8rem;
  }

  &--danger {
    border-left-color: #fa607e;
    grid-column: 2 / span 3;
    grid-row: 3;
    margin-top: 1.5rem;
    background: rgba(#fdc5d0, 0.7);
    align-self: end;
    color: darken(#fa607e, 12%);
  }

  &--info {
    border-left-color: #4786ff;
    grid-column: 6 / span 2;
    grid-row: 5;
    margin-top: 1.5rem;
    background: rgba(#dae7ff, 0.7);
    align-self: end;
    color: darken(#4786ff, 12%);
  }

  &--primary {
    background: #4786ff;
    border: 0;
    border-radius: .4rem;
    grid-column: 3 / span 3;
    grid-row: 4;
    align-self: end;
    color: #fff;
    box-shadow: 0 1.0rem 1.4rem rgba(#4786ff, 0.4);
  }

  &__detail {
    position: absolute;
    left: 0;
    top: calc(100% + 1.0rem);
    background: #fff;
    border: 1px solid rgba(166, 168, 179, 0.2);
    color: #000;
    padding: 2.0rem;
    box-sizing: border-box;
    border-radius: .4rem;
    box-shadow:0 1.0rem 4.0rem rgba(0,0,0,0.08);
    z-index: 2;

    &:after,
    &:before {
      bottom: 100%;
      left: 30%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:before {
      border-bottom-color: rgba(166, 168, 179, 0.2);
      border-width: .8rem;
      margin-left: -.8rem;
    }

    &:after {
      border-bottom-color: #fff;
      border-width: .6rem;
      margin-left: -.6rem;
    }

    h2 {
      font-size: 1.5rem;
      margin: 0;
      color: #51565d;
    }

    p {
      margin-top: .4rem;
      font-size: 1.2rem;
      margin-bottom: 0;
      font-weight: 500;
      color: rgba(#51565d, .7);
    }
  }
}
